<html>

<head>
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome, {{ username }}</h1>
    {% for message in chat_messages %}
    <p>{{ message.sender }}: {{message.body}}</p>
    {% endfor %}

    <form method="POST" action="logged_in_as">
        <input type="text" name="message" placeholder="What's happening?"/>
        <input type="hidden" name="username" value="{{logged_in_as}}"/>
        <input type="submit" value="Send"/>
    </form>

    <script>
        setTimeout(function() {
            location.reload();
        }, 10000);
    </script>
</body>

</html>